*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  background:#0b141a;
  color:white;
  height:100vh;
  overflow:hidden;
}

#auth{
  width:90%;
  max-width:380px;
  background:#202c33;
  padding:30px;
  border-radius:20px;
  margin:60px auto;
}

#auth h1{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  margin-top:12px;
  outline:none;
}

button{
  border:none;
  cursor:pointer;
}

.authBtn{
  width:100%;
  padding:14px;
  border-radius:12px;
  margin-top:12px;
  background:#00a884;
  color:white;
  font-size:16px;
}

#app{
  display:flex;
  height:100vh;
}

#sidebar{
  width:320px;
  background:#202c33;
  border-right:1px solid #2a3942;
  display:flex;
  flex-direction:column;
}

#topBar{
  padding:15px;
  background:#202c33;
  border-bottom:1px solid #2a3942;
}

.logo{
  font-size:28px;
  font-weight:bold;
}

#searchArea{
  display:flex;
  padding:10px;
  gap:8px;
}

#searchInput{
  flex:1;
}

#searchBtn{
  background:#00a884;
  color:white;
  padding:12px 16px;
  border-radius:10px;
}

#users{
  flex:1;
  overflow:auto;
}

.user{
  padding:16px;
  border-bottom:1px solid #2a3942;
  cursor:pointer;
}

.user:hover{
  background:#2a3942;
}

.userName{
  font-size:17px;
  font-weight:bold;
}

.lastMsg{
  color:#8696a0;
  margin-top:4px;
  font-size:14px;
}

#chatArea{
  flex:1;
  display:flex;
  flex-direction:column;
  background:#0b141a;
}

#chatHeader{
  padding:18px;
  background:#202c33;
  font-size:20px;
  font-weight:bold;
  border-bottom:1px solid #2a3942;
}

#messages{
  flex:1;
  overflow:auto;
  padding:20px;
  display:flex;
  flex-direction:column;
}

.msg{
  max-width:75%;
  padding:12px;
  margin-bottom:14px;
  border-radius:14px;
  background:#202c33;
  word-wrap:break-word;
}

.mine{
  background:#005c4b;
  margin-left:auto;
}

.msg img{
  width:100%;
  max-width:250px;
  border-radius:12px;
  margin-top:8px;
}

.time{
  display:block;
  font-size:11px;
  opacity:.7;
  margin-top:6px;
}

#sendBar{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  background:#202c33;
}

#messageInput{
  flex:1;
}

#sendBtn{
  background:#00a884;
  color:white;
  padding:14px 24px;
  border-radius:12px;
}

#imageLabel{
  background:#2a3942;
  padding:12px 14px;
  border-radius:12px;
  cursor:pointer;
}

#imageInput{
  display:none;
}

#logoutBtn{
  margin-top:10px;
  width:100%;
  padding:12px;
  border-radius:10px;
  background:#ef4444;
  color:white;
}

/* MOBILE */

@media(max-width:700px){

  #sidebar{
    width:95px;
  }

  .logo{
    font-size:18px;
  }

  .userName{
    font-size:14px;
  }

  .lastMsg{
    display:none;
  }

  #searchArea{
    flex-direction:column;
  }

  #searchBtn{
    width:100%;
  }

  #chatHeader{
    font-size:16px;
    padding:14px;
  }

  #messages{
    padding:10px;
  }

  .msg{
    max-width:90%;
    font-size:15px;
  }

  #sendBar{
    padding:8px;
    gap:6px;
  }

  #sendBtn{
    padding:12px;
  }

  #imageLabel{
    padding:10px;
  }

}